.list {
width: 90%;
margin: 0 auto;
padding-bottom: 1.4rem;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.noTodos {
    margin-top: 30px;
    font-size: 1.5rem;
}

@media screen
and (max-width : 768px) 
{
 .list {
     width: 95%;
 }
}

@media screen
   and (max-width : 576px) 
   {
   .list {
    width: 98%;
   }
   }