.todo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 45px;
    margin-bottom: 1.4rem;
    width: 70%;
    padding: 2rem;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.1);
    background-color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
}


.todo .deleteButton {
    position: absolute;
    font-size: 1.8rem;
    cursor: pointer;
    left: 90%;
    color: #e9d9d8;
} 

.todo .deleteButton:hover {
    color: #d6001c;
} 


.todo div {
    cursor: pointer;
}

@media screen and (max-width : 1200px) 
   {
    .todo {
        font-size: 1rem;
  }
   }

   @media screen
   and (max-width : 768px) 
   {
    .todo {
        font-size: 1rem;
    }
   }

   @media screen
   and (max-width : 576px) 
   {
    .todo {
        font-size: 0.7rem;
        padding: 1rem;
        line-height: 1rem;
    }

    .todo .deleteButton {
        font-size: 1.5rem;
        left: 86%;
    } 
   }
